In [1]:
import pandas as pd
import numpy as np

In [10]:
data=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

### One Hot Encoding

In [11]:
pd.get_dummies(data).shape

(4209, 71)

In [13]:
X2_dict=data.X2.value_counts().to_dict()
data.X2.map(X2_dict)

0          6
1          4
2        137
3        137
4        137
        ...
4204    1659
4205      29
4206     153
4207      81
4208     496
Name: X2, Length: 4209, dtype: int64